* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(9, 65, 65);
  /* min-height: 2000px; */
}
.nabbar-posisi {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.hero {
  display: flex;
}
.hero h1 {
  width: 300px;
  margin: 180px 30px 10px 160px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
}
.hero h1 span {
  color: rgb(206, 206, 18);
}
.hero p {
  width: 400px;
  margin-left: 160px;
  color: #fff;
  line-height: 2;
  font-weight: 400;
}
.hero img {
  width: 450px;
  height: 350px;
  margin: 300px 50px 30px 140px;
  border: 3px solid whitesmoke;
  border-radius: 20px;
}
.hero .content .person {
  font-size: 16px;
  color: white;
  margin-left: 160px;
  font-weight: 800;
}

.btn .btn-1 {
  margin-left: -500px;
  background-color: yellow;
  width: 170px;
  height: 40px;
  border: none;
  margin-top: 0;
  border-radius: 8px;
}

.btn .btn-1 i {
  padding: 0 8px;
  left: 20px;
}
.btn .btn-2 {
  background-color: rgb(9, 65, 65);
  width: 170px;
  height: 40px;
  border: 1px solid yellow;
  font-size: 16px;
  color: yellow;
  border-radius: 8px;
  margin-left: 10px;
}
.btn .btn-2:hover {
  background-color: yellow;
  color: rgb(9, 65, 65);
}
.btn .btn-2 i {
  padding: 0 8px;
  left: 20px;
}
.content-wrap {
  background-image: linear-gradient(to right, rgb(9, 65, 65), rgb(16, 99, 99));
  height: 500px;
  margin-top: 170px;
  margin-left: 200px;
  display: flex;
  /* justify-content: space-between; */
  border-radius: 20px;
}
.content-wrap img {
  position: relative;
  width: 400px;
  height: 300px;
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 0;
}
.content-wrap .catatan {
  border: none;
  margin-top: 90px;
  color: #fff;
  text-align: start;
  width: 500px;
  align-items: center;
}
.content-wrap .catatan .catatan-1 li {
  margin-left: 40px;
}
.content-wrap .catatan .catatan-1 li p {
  font-size: 16px;
  font-weight: 500;
}
.hwhwh p {
  color: yellow;
  margin-top: -60px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
}

.content-3 h2 {
  color: white;
  margin-top: 150px;
  margin-left: 50px;
  font-size: 40px;
  font-weight: 700;
}

.content-3 h2 span {
  color: yellow;
}
.content-3 p {
  width: 550px;
  text-align: start;
  margin: 50px 30px 10px 150px;
  color: white;
  font-size: 18px;
  line-height: 1.7;
}
.content-3 .p-2 {
  line-height: normal;
  color: yellow;
}
